<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>370754992070-pgk06k79vdqtltks7vh1hb5576ei409p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370754992070-pgk06k79vdqtltks7vh1hb5576ei409p</string>
	<key>API_KEY</key>
	<string>AIzaSyC3nuygqu0tGYV0-VyvYXroWZtR-5AjIG8</string>
	<key>GCM_SENDER_ID</key>
	<string>370754992070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sa.herafi.Herafi-admin-Panel</string>
	<key>PROJECT_ID</key>
	<string>fir-contactform-812f4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-contactform-812f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370754992070:ios:fd0fb3a015da05aa</string>
	<key>DATABASE_URL</key>
	<string>https://fir-contactform-812f4.firebaseio.com</string>
</dict>
</plist>